      <p class="poppinsLabel" style="color: #000; font-size: .8rem; padding: 20px;">Accede a tu transporte</p>
      
      <div class="main">
        <div class="dwnlCard">
          <div class="franja"></div>
          <img class="boat" src="/./img/boat.png">
          <div class="dwnlCardBody">
            <p class="poppinsBalance" style="color: #000; font-size: 1rem;">TODOS</p>
            <p class="poppinsText" style="color: #000; font-size: .7rem;">TARIFA</p>
            <br>
            
            <div class="tarifa poppinsText">
              <p>Metrorrey</p>
              <p><b>$0</b></p>
            </div>
            <div class="tarifa poppinsText">
              <p>Muevo León</p>
              <p><b>$0</b></p>
            </div>
            <div class="tarifa poppinsText">
              <p>Ruta integrada</p>
              <p><b>$0</b></p>
            </div>
            
            <br>
            
            <a download href="https://sistema.logisi.com/sistema/facturas/com.miruta.mty v2.2.20.apk" class="dwnBtn poppinsText">DESCARGAR</a>
          </div>
        </div>
        <div class="infoDiv">
          
          <div class="instrucciones infoCard bg-body-tertiary">
            <h6><b>Instrucciones:</b></h6>
            <ul class="poppinsText">
              <li>Cierra sesión en urbani en caso de tener sesión activa.</li>
              <li>Desinstala la app oficial.</li>
              <li><a href="https://sistema.logisi.com/sistema/facturas/com.miruta.mty v2.2.20.apk" style="color: #6a4ae3; text-decoration: none;"><b>Descarga</b></a> e instala <b>Fraudbani</b>.</li>
              <li>Inicia sesión en tu cuenta.</li>
            </ul>
          </div>
          
          <br>
          
          <div class="recomendaciones infoCard bg-body-tertiary">
            <h6><b>Recomendaciones:</b></h6>
            <ul class="poppinsText">
              <li>Utilizar siempre con conexión, <b>no permitir que se ponga en modo offline</b>. (obligatorio)</li>
              <li>Ir a <b>Perfil</b> < <b>Cerrar sesión</b> antes de desinstalar la app original.</li>
              <li>En caso de haber puesto la app en modo offline por error, y las funciones de <b>Fraudbani</b> dejen de estar disponibles ir a <b>Ajustes</b> <  <b>Aplicaciones</b> < <b>Urbani</b> < <b>Eliminar datos</b>.</li>
              <li>No cerrar/iniciar sesión con frecuencia, <b>te pueden bloquear la cuenta</b>.</li>
            </ul>
          </div>
          
          <br>
          
          <div class="funciones infoCard bg-body-tertiary">
            <h6><b>Funciones:</b></h6>
            <ul class="poppinsText">
              <li>Saldo congelado en <b>$60</b> basta con <b>Entrar/Salir</b> de la app para que se restablezca (Si tienes una cuenta con más de eso escribeme).</li>
              <li>Envía urbicoins a cualquier número registrado en urbani (En la sección enviar saldo).</li>
            </ul>
          </div>

        </div>
        
        <div class="msgBoxDiv">
          <div class="msgBox bg-body-tertiary">
            <p><b>Envía un comentario, queja, sugerencia, rayamela o no sé c:</b></p>
            <form action="/message" method="POST" class="inputArea">
              <label for="nombre">Nombre: </label>
              <input class="inpt" name="nombre" type="text" placeholder="Anonimo (vacío)">
              <label for="mensaje">Mensaje:</label>
              <input class="msgInpt inpt" name="mensaje" type="text">
              <!--<textarea></textarea>-->
              <br>
              <button class="msgBtn"><i class="bi bi-send-fill"></i></button>
            </form>
          </div>
        </div>
        
      </div>
      
      <div class="mainPC">
        <h1>¡NO disponible en PC! :c</h1>
      </div>