@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "evilSound";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/EvilSound-nRM8M.ttf") format("truetype");
}
@font-face {
  font-family: "Console";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Web437_ACM_VGA_9x16.woff") format("woff");
}
.bgGrad {
  background: linear-gradient(180deg, #6A4AE3 0%, #7A4CE6 40%, #8A4FE8 70%, #9A53EA 100%);
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.poppinsBalance {
  font-family: "Poppins", Sans-Serif;
  font-weight: 800;
}

.poppinsLabel {
  font-family: "Poppins", Sans-Serif;
  font-weight: 500;
}

.poppinsText {
  font-family: "Poppins", Sans-Serif;
  font-weight: 400;
}

.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amaranth-bold {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.amaranth-regular-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.amaranth-bold-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
  font-size: 16px;
}
body p, body h1, body h2, body h3, body h4, body h5, body h6, body img {
  margin: 0;
  padding: 0;
}
body .navbar {
  background: #000;
  backdrop-filter: blur(3px);
  padding: 10px 0;
}
body .navbar a {
  margin: 0 auto;
}
body header {
  background: url("../img/bannerhometop.png") no-repeat center center;
  background-size: 100% 100%;
  margin-top: 75px;
  border-radius: 0 0 50px 50px;
  display: none;
}
body header .header {
  padding: 15px;
}
body header .header .barraTop {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
body header .header .barraTop .btEl {
  width: 10%;
}
body header .header .barraTop .btEl img {
  width: 100%;
}
body header .header .barraTop .profPic {
  border: 4px solid #fff;
  border-radius: 100%;
  height: 50px;
  position: relative;
  width: 50px;
}
body header .header .barraTop .profPic .edit {
  align-items: center;
  aspect-ratio: 1/1;
  background: #007AFF;
  border-radius: 100%;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 25%;
  transform: translateY(31px);
  width: 20px;
}
body header .header .barraTop .profPic .edit img {
  width: 10px;
}
body header .header .barraTop .support {
  width: 35px;
}
body header .header .barraTop .hdLogo {
  width: 35px;
}
body header .header .barraBottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
body header .header .barraBottom .version {
  width: 15%;
}
body header .header .barraBottom .urbicoins {
  width: 100px;
  display: flex;
}
body header .header .barraBottom .urbicoins img {
  width: 15%;
}
body header .header .barraBottom .urbicoins p {
  width: 85%;
}
body header .header .barraBottom .ubicacion {
  display: flex;
  width: 95px;
  padding: 0 5px;
}
body header .header .barraBottom .ubicacion img {
  width: 15px;
}
body header .header .hdBody {
  padding-top: 10px;
}
body header .header .hdBody .userStatus {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 70px;
}
body header .header .hdBody .userStatus .sPoint {
  aspect-ratio: 1/1;
  background: #24D779;
  border-radius: 100%;
  display: inline-block;
  height: 14px;
  width: 14px;
}
body .main {
  align-items: center;
  display: none;
  flex-direction: column;
  min-height: 100dvh;
}
body .main .dwnlCard {
  border: 0.5px solid #999;
  border-radius: 0 0 20px 20px;
  margin-top: 40px;
  margin-bottom: 250px;
  position: relative;
  text-align: center;
  width: 50%;
}
body .main .dwnlCard .franja {
  background: #000;
  padding: 10px;
}
body .main .dwnlCard .boat {
  height: 100px;
  position: absolute;
  top: 0;
  right: 25%;
  transform: translateY(-70px);
  pointer-events: none;
  width: 100px;
}
body .main .dwnlCard .dwnlCardBody {
  padding: 20px;
}
body .main .dwnlCard .dwnlCardBody .tarifa {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  width: 100%;
}
body .main .dwnlCard .dwnBtn {
  background: #000;
  border-radius: 25px;
  color: #fff;
  font-size: 0.8rem;
  padding: 10px 30px;
  text-decoration: none;
}
body .main .dwnlCard .dwnBtn:hover {
  background: #222;
}
body .main .infoDiv {
  padding: 20px;
}
body .main .infoDiv .infoCard {
  border-radius: 10px;
  padding: 15px;
}
body .main .infoDiv .infoCard h6 {
  padding-bottom: 5px;
}
body .main .infoDiv .infoCard ul {
  font-size: 0.9rem;
}
body .main .msgBoxDiv {
  padding: 20px;
}
body .main .msgBoxDiv .msgBox {
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 15px;
}
body .main .msgBoxDiv .msgBox .inputArea {
  display: flex;
  flex-direction: column;
}
body .main .msgBoxDiv .msgBox .inputArea label {
  padding: 5px 0;
}
body .main .msgBoxDiv .msgBox .inputArea .inpt {
  border: 1px solid #333;
  border-radius: 2px;
  padding: 10px;
  outline: none;
}
body .main .msgBoxDiv .msgBox .inputArea button {
  background: #000;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 0.8rem;
  padding: 10px 30px;
  text-decoration: none;
}
body .main .msgBoxDiv .msgBox .inputArea button:hover {
  background: #222;
}
body .mainPC {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
}
body .fot {
  background: #000;
}
body .fot footer {
  color: #fff;
}
body .fot footer .fotContent {
  align-items: center;
  display: flex;
  font-family: Console, Sans-Serif;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
body .fot footer .fotContent .ftLogo {
  padding: 30px;
  width: 100%;
}
body .fot footer .fotContent .ftLogo img {
  width: 30%;
}
body .fot footer .fotContent .byTag {
  color: #4da6ff;
  font-family: evilSound, Sans-Serif;
  font-weight: bold;
  margin: 0 0 0 10px;
}

@media (width <= 768px) {
  body header {
    display: block;
  }
  body .main {
    display: flex;
  }
  body .mainPC {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
