<div class="container-fluid fot">
<footer class="py-3 border-top">
<div class="col-md-4 fotContent">
  
  <div class="ftLogo">
    <img src="/./img/si.png">
  </div>
  
<span class="mb-3 mb-md-0">Con <span style="color: #aa80ff;">♥︎</span> by <span class="byTag">XLaXRataXCOrruptaX</span></span>
<p style="color: #999; font-size: .8rem;">2026</p>
</div>

</footer>
</div>