      <header>
        <div class="header">
          <div class="barraTop">
            <div class="hdLogo btEl">
              <img src="/./img/logo.png">
            </div>
            <div class="profPic btEl">
              <div class="edit">
                <img src="/./img/editHomeLogo.svg"></img>
              </div>
              <img src="/./img/avatar.png">
            </div>
            <div class="support btEl text-center">
              <img src="/./img/soporte-icon.svg">
              <p class="poppinsText" style="color: #fff; font-size: .6rem;">Soporte</p>
            </div>
          </div>
          <div class="hdBody text-center">
            <p class="poppinsLabel" style="color: #fff; font-size: .8rem;">¡Hola!</p>
            
            <div class="userStatus">
              <div class="sPoint"></div>
              <p class="poppinsText" style="color: #fff; font-size: .85rem;"><b>Skr0to</b></p>
            </div>

            <p class="poppinsLabel" style="color: #fff; font-size: .8rem;">Saldo disponible</p>
            <p class="poppinsBalance amaranth-bold" style="color: #fff; font-size: 2.5rem;"><b>$ 🖕🏾</b></p>
          </div>
          <div class="barraBottom">
            <div class="version bbEl">
              <p class="versionText poppinsLabel" style="color: #fff; font-size: .6rem; opacity: .6;">v 666</p>
            </div>
            <div class="urbicoins bbEl">
              <img src="/./img/coinImage.png">
              <p class="urbicoinsText poppinsLabel" style="color: #fff; font-size: .7rem;">999 Urbicoins</p>
            </div>
            <div class="ubicacion bbEl">
              <p class="ubicacionText poppinsText" style="color: #fff; font-size: .6rem;"><b>Monterrey Nuevo León</b></p>
              <img src="/./img/locationIcon.svg">
            </div>
          </div>
        </div>
      </header>