      <nav class="navbar fixed-top barraNav">
          <div class="container-fluid">
            <a class="navbar-brand montserrat-light" href="#" style="color: #fff;">
              <img src="./img/logo.png" class="logo" alt="Logo" width="45" height="45" class="d-inline-block align-text-top">FRAUDBANI</a>
          </div>
        </nav>